@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sanofiSansBold';
  src: local('sanofiSansBold'),
    url('../assets/fonts/sans/WEB/WOFF2/Sanofi_Sans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'sanofiSansBoldItalic';
  src: local('sanofiSansBoldItalic'),
    url('../assets/fonts/sans/WEB/WOFF2/Sanofi_Sans-Bold_Italic.woff2')
      format('woff2');
  font-weight: 700;
  font-style: bold-italic;
}

@font-face {
  font-family: 'sanofiSansItalic';
  src: local('sanofiSansItalic'),
    url('../assets/fonts/sans/WEB/WOFF2/Sanofi_Sans-Italic.woff2')
      format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'sanofiSansRegular';
  src: local('sanofiSansRegular'),
    url('../assets/fonts/sans/WEB/WOFF2/Sanofi_Sans-Regular.woff2')
      format('woff2');
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: 'sanofiSansLight';
  src: local('sanofiSansLight'),
    url('../assets/fonts/sans/WEB/WOFF2/Sanofi_Sans-Light.woff2')
      format('woff2');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'sanofiSansLightItalic';
  src: local('sanofiSansLightItalic'),
    url('../assets/fonts/sans/WEB/WOFF2/Sanofi_Sans-Light_Italic.woff2')
      format('woff2');
  font-weight: 300;
  font-style: light-italic;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #fefefe;
  border: 1px solid #d6d4d4;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #d6d4d4;
  border-radius: 8px;
}

::-ms-reveal {
  display: none;
}

body {
  font-family: 'sanofiSansRegular', sans-serif;
  font-size: 16px;
  overflow-y: auto;
}
